.top {

  &__container {
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .top {
    &__container {
      background-size: auto;
      background-position: -300px 0px;
      padding: 70px 80px;
    }
  }
}

@media (max-width: 460px) {
  .top {
    &__container {
      padding: 25px 20px;
    }
  }
}