@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {

  &__list {
    display: flex;
    text-transform: uppercase;
  }

  &__list-item:not(:last-child) {
    padding-right: 35px;
  }

  &__list-link {
    color: $title;
    padding: 1px 2px 5px;
    @extend %roboto-400;
    transition: color 0.3s, border 0.5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }

  &__list-link--active {
    color: $accent;
    @extend %roboto-700;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;  
  }

  &__link:not(:last-child) {
    padding-right: 25px;
  }

  &__num {
    border-radius: 50%;
    color: $white;
    width: 20px;
    height: 20px;
    background-color: $accent;
    position: absolute;
    top: -12px;
    left: 12px;
    font-size: 12px;
    line-height: 1.9;
    text-align: center;
  }
}

.footer {
  background-color: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid $grey-light;
  display: flex;

  &__contacts {
    max-width: 250px;
    margin-right: 50px;
  }

  &__logo {
    margin-bottom: 25px;
    display: block;
  }

  &__adress,
  &__email,
  &__phone,
  &__social-link {
    margin-bottom: 13px;
    display: block;
  }

  &__email,
  &__phone {
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    transition: color 0.3s;
    
    &:hover {
      color: $accent;

      path {
        fill: $accent;
      }
    }
  }

  &__social-instagram {
    padding-left: 10px;
  }

  &__nav {
    max-width: 170px;
    width: 100%;
    margin-right: 30px;
  }

  &__title {
    font-size: 22px;
    line-height: 1.6;
    @extend %roboto-400;
    color: $title;
  }

  &__link {
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__item-form {
    max-width: 470px;
    width: 100%;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__form-input {
    background-color: $white;
    padding: 10px 15px 12px 15px;  
    max-width: 310px;
    width: 100%;
    border: none;
    box-shadow: 0px 7px 20px 0px rgb(192 192 192 / 30%);

    &::placeholder {
      color: $default;
    }  
  }

  &__form-btn {
      @extend %btn;
    }
}

.footer-copy {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
}

.top {

  &__container {
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;
  }
}

.top-slider {
  background-color: $bg;
  padding-top: 30px;
  
  &__container {
    max-width: 1230px;
  }

  &__content {
    height: calc(100vh - 149px);
    background-image: url(../images/banner1.png);
    background-position: 105% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    padding-top: 100px;
  }

  &__title {
    max-width: 670px;
    width: 100%;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 1.2;
    color: $title;
    @extend %roboto-700;
  }

  &__text {
    max-width: 470px;
    width: 100%;
    margin-bottom: 55px;
    display: block;
  }

  &__link {
    @extend %btn;
    padding: 15px 27px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    top: 90%;
    left: 45%;
    position: absolute;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 18px;
        height: 18px;
        position: relative;
        border-radius: 50%;
        border: 3px solid transparent;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        transition: border-color 0.5s;

        button {
          border-color: $firm;
          transition: background-color 0.5s;

          &::before {
            background-color: $firm;
          }
        }
      }
    }
  }
}

.categories-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  &__item {
    padding: 60px 30px;
    max-width: 365px;
    box-shadow: 20px 0px 60px 0px rgb(202 202 202 / 35%);
  }

  &__title {
    padding: 30px 0 20px;
    font-size: 22px;
    line-height: 1.2;
    @extend %roboto-400;
    color: $title;
  }
}

.categories {
  background-color: $white;

  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-gap: 35px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $red;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 440px;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $red;
      }
    }

    &:nth-child(3) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $blue-dark;
      }
    }

    &:nth-child(4) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $firm;
      }
    }
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__item-title {
    color: $title;
    margin-bottom: 15px;
    font-size: 22px;
    @extend %roboto-700;
  }

  &__item-link {
    text-transform: uppercase;
    color: $title;
    transition: color 0.3s;
  }
}

.about {
  background-color: $bg;
  background-image: url(../images/decor/pattern.svg);

  &__wrapper {
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    max-width: 535px;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__play {
    transition: transform 0.5s;
  }

  &__play:hover {
    transform: scale(125%);
  }

  &__content {
    max-width: 570px;
  }
  
  &__title {
    text-align: left;
    margin-bottom: 15px;
  }

  &__text {
    text-align: left;
  }

  &__link {
    @extend %btn;
  }
}

.product {
  text-align: center;

  &__link {
    @extend %btn;
  }
  
  &__items {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 45px 30px;
    margin-bottom: 60px;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__image {
    object-fit: cover;
  }

  &__link-box {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: $white;
    width: 212px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 20%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300px);
    transition: transform 0.3s;
  }

  &__link--line::before,
  &__link--line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: $grey-light;
    top: 10px;
  }

  &__link--line::before {
    left: 68px;
  }

  &__link--line::after {
    right: 73px;
  }

  &__link {
    display: inherit;
    
    path {
      transition: fill 0.3s;
    }
  }

  &__link:hover {

    path {
      fill: $red;
    }
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    padding: 10px 0;
  }

  &__prices {
    display: flex;
    justify-content: center;
    @extend %roboto-700;
  }

  &__new-price {
    color: $title;
    margin-right: 12px;
  }

  &__old-price{
    color: $default;
    text-decoration: line-through;
  }
}

.product-item--sale {

  .product-item__img-box::before {
    content: "SALE";
    position: absolute;
    color: $white;
    background-color: $red;
    top: 25px;
    left: 25px;
    padding: 3px 10px;
    box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 25%);
  }
}

.star {
  margin: 0 auto;
}

.promo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 85px 0 160px;
  margin-bottom: 120px;

  &__wrapper {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
    
  &__subtitle {
    text-align: center;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 60px;
  }

  &__clock-item {
    background-color: $white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 30%);

    span {
      @extend %roboto-700;
      font-size: 48px;
      color: $title;
      margin: 7px 2px 10px;
    }
  }

  &__link {
    @extend %btn;
  }
}

.partners {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    transition: transform 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }
}

.blog {

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    border: 1px solid $grey-light;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 35%);
      border: none;

      .blog__item-link {
        color: $firm; 

        &::after {
          background-image: url(../images/icons/arrow-firm.svg);
        }
      }
    }
  }

  &__item-content {
    padding: 30px 40px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__item-author,
  &__item-date {
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0; 
      top: 2px;
    }
  }

  &__item-author::before {
    background-image: url(../images/icons/user-grey.svg);
  }

  &__item-date::before {
    background-image: url(../images/icons/time.svg);
  }

  &__item-title {
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  &__item-link {
    position: relative;
    transition: color 0.3s;
    
    &::after {
      content: '';
      background-image: url(../images/icons/arrow.svg);
      width: 10px;
      height: 8px;
      position: absolute;
      top: 5px;
      right: -15px;
    }
  }
}

.modal {
  max-width: 570px;
  margin: 0 auto 120px;
  padding-top: 110px;
  
  &__links {
    margin-bottom: 50px;
    text-align: center;
  }

  &__link {
    text-transform: uppercase;
    font-size: 22px;
    @extend %roboto-400;
    margin: 0 30px;
  }

  &__link--active {
    color: $accent;
    @extend %roboto-700;
  }

  &__label {
   margin-bottom: 35px;
   display: block;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: $bg;
    height: 60px;
    padding: 0 15px;
    margin-top: 12px;
    outline: transparent;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__btn {
    display: block;
    width: 100%;
    border: none;
    padding: 15px 0;
    color: $white;
    background-color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %roboto-400;
    cursor: pointer;
    outline: transparent;
    transition: background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
    display: inline-block;

    &:hover {
      background-color: $grey-dark
    }

    &:active {
      background-color: $default
    }

    &:focus {
      color: rgba(255, 255, 255, .3);
    }
  }

  &__error {
    color: $red;
  }
}

.page-404 {
  padding: 110px 0 120px;

  &__wrapper {
    background-image: url(../images/404.png);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: center right;
    position: relative;
    height: 550px;
  }

  &__content {
    max-width: 570px;
    width: 100%;
    position: absolute;
    top: 22%;
  }

  &__title {
    color: $blue-darkest;
    font-size: 48px;
    line-height: 1.8;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 470px;
    width: 100%;
    margin-bottom: 60px;
    text-align: left;
  }

  &__link {
    @extend %btn;
  }
}




@import 'media';
