.categories-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  &__item {
    padding: 60px 30px;
    max-width: 365px;
    box-shadow: 20px 0px 60px 0px rgb(202 202 202 / 35%);
  }

  &__title {
    padding: 30px 0 20px;
    font-size: 22px;
    line-height: 1.2;
    @extend %roboto-400;
    color: $title;
  }
}

.categories {
  background-color: $white;

  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-gap: 35px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $red;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 440px;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $red;
      }
    }

    &:nth-child(3) {

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $blue-dark;
      }
    }

    &:nth-child(4) {

      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $firm;
      }
    }
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__item-title {
    color: $title;
    margin-bottom: 15px;
    font-size: 22px;
    @extend %roboto-700;
  }

  &__item-link {
    text-transform: uppercase;
    color: $title;
    transition: color 0.3s;
  }
}

@media (max-width: 1200px) {
  .categories-info {
    justify-content: space-evenly;

    &__item {
      padding: 30px 30px;
      max-width: 290px;
    }
  }
}

@media (max-width: 992px) {
  .categories-info {
    margin-bottom: 70px;
    justify-content: space-evenly;

    &__item {
      padding: 20px 20px;
      max-width: 235px;
    }
  }

  .categories {
    padding-left:  10px;
    padding-right:  10px;

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 25px;
    }

    &__item {
      min-height: 260px;

      &:nth-child(1) {
        grid-row: auto;
        background-position: 0 -25px;
      }

      &:nth-child(2) {
        padding-right: 35px;
        padding-left: 0;
        grid-column: auto;
        background-position: left center;
        align-items: flex-end;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories-info {
    flex-direction: column;
    margin-bottom: 40px;

    &__item {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &__title {
      padding: 20px 0 10px;
    }

    &__text {
      margin: 0 auto 0;
    }
  }

  .categories {

    &__items {
      min-height: 100vh;
    }

    &__item {
      padding-top: 15px;
      padding-left: 15px;

      &:nth-child(2) {
        padding-right: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .categories-info {
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 20px;
  }

  .categories {

    &__items {
      grid-template-columns: repeat(1, 1fr);
      min-height: 150vh;
    }
  }  
}

