.modal {
  max-width: 570px;
  margin: 0 auto 120px;
  padding-top: 110px;

  &__links {
    margin-bottom: 50px;
    text-align: center;
  }

  &__link {
    text-transform: uppercase;
    font-size: 22px;
    @extend %roboto-400;
    margin: 0 30px;
  }

  &__link--active {
    color: $accent;
    @extend %roboto-700;
  }

  &__label {
    margin-bottom: 35px;
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: $bg;
    height: 60px;
    padding: 0 15px;
    margin-top: 12px;
    outline: transparent;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__btn {
    display: block;
    width: 100%;
    border: none;
    padding: 15px 0;
    color: $white;
    background-color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %roboto-400;
    cursor: pointer;
    outline: transparent;
    transition: background-color 0.3s,
      color 0.3s,
      box-shadow 0.3s;
    display: inline-block;

    &:hover {
      background-color: $grey-dark
    }

    &:active {
      background-color: $default
    }

    &:focus {
      color: rgba(255, 255, 255, .3);
    }
  }

  &__error {
    color: $red;
  }
}

@media (max-width: 768px) {
  .modal {
    margin: 0 auto 80px;
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  .modal {
    &__link {
      font-size: 18px;
      margin: 0 10px;
    }

    &__label {
      margin-bottom: 25px;
    }

    &__input {
      height: 45px;
    }
  }
}

@media (max-width: 460px) {
  .modal {
    margin: 0 auto 25px;
    padding-top: 20px px;
  }
}