.top-slider {
  background-color: $bg;
  padding-top: 30px;

  &__container {
    max-width: 1230px;
  }

  &__content {
    height: calc(100vh - 149px);
    background-image: url(../images/banner1.png);
    background-position: 105% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  &__content-box {
    margin: auto 0 auto;
  }

  &__title {
    max-width: 670px;
    width: 100%;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 1.2;
    color: $title;
    @extend %roboto-700;
  }

  &__text {
    max-width: 470px;
    width: 100%;
    margin-bottom: 55px;
    display: block;
  }

  &__link {
    @extend %btn;
    padding: 15px 27px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    top: 90%;
    left: 45%;
    position: absolute;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 18px;
        height: 18px;
        position: relative;
        border-radius: 50%;
        border: 3px solid transparent;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        transition: border-color 0.5s;

        button {
          border-color: $firm;
          transition: background-color 0.5s;

          &::before {
            background-color: $firm;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .top-slider {

    &__title {
      font-size: 45px;
      max-width: 470px;
    }

    &__text {
      max-width: 360px;
    }
  }
}

@media (max-width: 992px) {
  .top-slider {

    &__content {
      height: calc(100vh - 120px);
      background: none;
      padding: 0 15px 15px;
      margin: auto 0 auto;
    }

    &__title {
      font-size: 38px;
      margin-bottom: 10px;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 10px;
    }

    &__link {
      padding: 10px 27px;
    }

    .slick-dots {
      left: 42%;
      top: 100%;
    }
  }
}

@media (max-width: 576px) {
  .top-slider {

    &__content {
      height: calc(100vh - 172px);
    }

    &__title {
      font-size: 35px;
      margin-bottom: 10px;
    }

    &__link {
      display: block;
      text-align: center;
    }

    .slick-dots {
      left: 40%;
    }
  }
}