.page-404 {
  padding: 110px 0 120px;

  &__wrapper {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center right;
    position: relative;
    height: 550px;
    display: flex;
  }

  &__content {
    max-width: 570px;
    width: 100%;
    margin: auto 0 auto;
  }

  &__title {
    color: $blue-darkest;
    font-size: 48px;
    line-height: 1.8;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 470px;
    width: 100%;
    margin-bottom: 60px;
    text-align: left;
  }

  &__link {
    @extend %btn;
  }
}

@media (max-width: 1200px) {
  .page-404 {
    &__wrapper {
      background-size: 45%;
    }
  }
}

@media (max-width: 992px) {
  .page-404 {
    &__wrapper {
      background-size: 40%;
      background-position: 90% 80%;
    }
  }
}

@media (max-width: 768px) {
  .page-404 {
    padding: 70px 0 80px;

    &__title {
      font-size: 38px;
    }
  }
}

@media (max-width: 460px) {
  .page-404 {
    padding: 20px 0 25px;

    &__title {
      font-size: 30px;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 375px) {
  .page-404 {
    &__wrapper {
      background-position: 50% 0;
    }

    &__link {
      display: block;
      text-align: center;
    }
  }
}